@font-face{font-family:ClmMarketingIcon;font-weight:400;font-style:normal;src:url(/clm/fonts/clm-marketing-icons.woff2) format("woff2"),url(/clm/fonts/clm-marketing-icons.woff) format("woff");}
.marketing-icon{display:inline-block;line-height:1;vertical-align:middle;}
.marketing-icon:before{font-family:ClmMarketingIcon;font-weight:400;font-style:normal;text-decoration:inherit;display:inline-block;speak:none;font-variant:normal;font-size:48px;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.marketing-icon--large:before{font-size:56px;}
.marketing-icon--3d-design:before{content:"\e621"!important;}
.marketing-icon--album-cover-design:before{content:"\e951"!important;}
.marketing-icon--android-app-design:before{content:"\e932"!important;}
.marketing-icon--app-icon-design:before{content:"\e935"!important;}
.marketing-icon--bag:before{content:"\e92b"!important;}
.marketing-icon--bag-tote-design:before{content:"\e938"!important;}
.marketing-icon--banner-design:before{content:"\e949"!important;}
.marketing-icon--banner-ad-design:before{content:"\e904"!important;}
.marketing-icon--beer-label-design:before{content:"\e92d"!important;}
.marketing-icon--beverage-label-design:before{content:"\e92e"!important;}
.marketing-icon--billboard-design:before{content:"\e944"!important;}
.marketing-icon--blog-design:before{content:"\e92f"!important;}
.marketing-icon--book-cover-design:before{content:"\e920"!important;}
.marketing-icon--book-illustration:before{content:"\e952"!important;}
.marketing-icon--book-layout-design:before{content:"\e93e"!important;}
.marketing-icon--booklet-design:before{content:"\e94c"!important;}
.marketing-icon--bottle:before{content:"\e933"!important;}
.marketing-icon--box:before{content:"\e93a"!important;}
.marketing-icon--brand-guide:before{content:"\e92c"!important;}
.marketing-icon--brand-identity-pack:before{content:"\e900"!important;}
.marketing-icon--brochure-design:before{content:"\e914"!important;}
.marketing-icon--business-card-design:before{content:"\e905"!important;}
.marketing-icon--business-illustration:before{content:"\e957"!important;}
.marketing-icon--calendar-1week:before{content:"\e965"!important;}
.marketing-icon--calendar-2week:before{content:"\e964"!important;}
.marketing-icon--calendar-date:before{content:"\e963"!important;}
.marketing-icon--calendar-hour:before{content:"\e962"!important;}
.marketing-icon--calendar-month:before{content:"\e961"!important;}
.marketing-icon--calendar-question:before{content:"\e95f"!important;}
.marketing-icon--canister:before{content:"\e942"!important;}
.marketing-icon--cap-design:before{content:"\e915"!important;}
.marketing-icon--car-truck-van-wrap-design:before{content:"\e906"!important;}
.marketing-icon--card-invitation-design:before{content:"\e921"!important;}
.marketing-icon--character-mascot-design:before{content:"\e910"!important;}
.marketing-icon--clothing-apparel-design:before{content:"\e93d"!important;}
.marketing-icon--continue-brief:before{content:"\e95e"!important;}
.marketing-icon--copy-brief:before{content:"\e95d"!important;}
.marketing-icon--cup-mug-design:before{content:"\e916"!important;}
.marketing-icon--direct-mail-design:before{content:"\e94d"!important;}
.marketing-icon--ebook-and-phsical-book:before{content:"\e960"!important;}
.marketing-icon--ebook:before{content:"\e977"!important;}
.marketing-icon--email-design:before{content:"\e907"!important;}
.marketing-icon--email-newsletter-design:before{content:"\e94a"!important;}
.marketing-icon--facebook-cover-design:before{content:"\e908"!important;}
.marketing-icon--flash-banner-design:before{content:"\e904"!important;}
.marketing-icon--form-design:before{content:"\e936"!important;}
.marketing-icon--greeting-card-design:before{content:"\e953"!important;}
.marketing-icon--hoodie-design:before{content:"\e939"!important;}
.marketing-icon--icon-button-design:before{content:"\e901"!important;}
.marketing-icon--illustrations:before{content:"\e911"!important;}
.marketing-icon--infographic-design:before{content:"\e917"!important;}
.marketing-icon--interior-book-design:before{content:"\e93f"!important;}
.marketing-icon--invitation-design:before{content:"\e94f"!important;}
.marketing-icon--ios-app-design:before{content:"\e937"!important;}
.marketing-icon--jersey-design:before{content:"\e93b"!important;}
.marketing-icon--landing-page-design:before{content:"\e909"!important;}
.marketing-icon--leaflet-design:before{content:"\e947"!important;}
.marketing-icon--logo-brand-guide:before{content:"\e95a"!important;}
.marketing-icon--logo-business-card-design:before{content:"\e90a"!important;}
.marketing-icon--logo-design:before{content:"\e902"!important;}
.marketing-icon--logo-product-packaging:before{content:"\e95c"!important;}
.marketing-icon--logo-website:before{content:"\e90b"!important;}
.marketing-icon--magazine-cover-design:before{content:"\e923"!important;}
.marketing-icon--menu-design:before{content:"\e918"!important;}
.marketing-icon--merchandise-design:before{content:"\e919"!important;}
.marketing-icon--mobile-app-design:before{content:"\e913"!important;}
.marketing-icon--new-brief:before{content:"\e95c"!important;}
.marketing-icon--other-art-illustration:before{content:"\e91a"!important;}
.marketing-icon--other-book-magazine-design:before{content:"\e925"!important;}
.marketing-icon--other-business-advertising:before{content:"\e945"!important;}
.marketing-icon--other-clothing-merchandise-design:before{content:"\e93c"!important;}
.marketing-icon--other-design:before{content:"\e924"!important;}
.marketing-icon--other-packaging-label-design:before{content:"\e926"!important;}
.marketing-icon--other-web-design:before{content:"\e9a6"!important;}
.marketing-icon--other:before{content:"\e924"!important;}
.marketing-icon--packet:before{content:"\e94b"!important;}
.marketing-icon--pamphlet-design:before{content:"\e948"!important;}
.marketing-icon--pattern-design:before{content:"\e950"!important;}
.marketing-icon--photo:before{content:"\e959"!important;}
.marketing-icon--physical-book:before{content:"\e986"!important;}
.marketing-icon--podcast-cover-design:before{content:"\e951"!important;}
.marketing-icon--postcard-flyer-design:before{content:"\e91c"!important;}
.marketing-icon--poster-design:before{content:"\e912"!important;}
.marketing-icon--powerpoint-template-design:before{content:"\e91d"!important;}
.marketing-icon--product-label-design:before{content:"\e922"!important;}
.marketing-icon--product-packaging-design:before{content:"\e927"!important;}
.marketing-icon--resume-design:before{content:"\e943"!important;}
.marketing-icon--signage-design:before{content:"\e91f"!important;}
.marketing-icon--social-media-pack:before{content:"\e929"!important;}
.marketing-icon--social-media-page-design:before{content:"\e90c"!important;}
.marketing-icon--stationery-design:before{content:"\e90d"!important;}
.marketing-icon--sticker-design:before{content:"\e91e"!important;}
.marketing-icon--squarespace:before{content:"\e95b"!important;}
.marketing-icon--t-shirt-design:before{content:"\e903"!important;}
.marketing-icon--tattoo-design:before{content:"\e928"!important;}
.marketing-icon--trade-show-banner-design:before{content:"\e94e"!important;}
.marketing-icon--trade-show-booth-design:before{content:"\e940"!important;}
.marketing-icon--tube:before{content:"\e955"!important;}
.marketing-icon--twitter-header-design:before{content:"\e934"!important;}
.marketing-icon--video:before{content:"\e958"!important;}
.marketing-icon--web-design:before{content:"\e90e"!important;}
.marketing-icon--website-header-design:before{content:"\e946"!important;}
.marketing-icon--website-icon-design:before{content:"\e930"!important;}
.marketing-icon--website-illustration-design:before{content:"\e954"!important;}
.marketing-icon--website-redesign:before{content:"\e931"!important;}
.marketing-icon--wedding-invitation-design:before{content:"\e956"!important;}
.marketing-icon--wine-label-design:before{content:"\e933"!important;}
.marketing-icon--wordpress-theme-design:before{content:"\e90f"!important;}
.marketing-icon--word-template-design:before{content:"\e941"!important;}
.marketing-icon--youtube-background-design:before{content:"\e92a"!important;}
